<!DOCTYPE HTML>
<html>
    <head>
        <title>Errors</title>
    </head>
    <body>
        Some errors have appeared:
        <br>
        <ul>
            <% for(var i = 0; i < error.length; i++) { %>
                <li><%= error[i]%></li>
            <% } %>
        </ul>
        <br>
        <a href="/">Go back to landing page</a>
    </body>
</html>