<!DOCTYPE HTML>
<html>
    <head>
        <title>Shop</title>
		<meta charset="UTF-8">
    </head>
    <body>
        <!--<ul>
            <% for (let i=0; i < errors.length; i++) { %>
                <li><%= errors[i] %></li>
            <% } %>
        </ul> -->
        <form action="addToCart" method="post">
            Artikelname: <input type="text" name="name"> <br>
            Artikelpreis: <input type="text" name="price"> <br>
            <button type="submit">Artikel hinzufügen</button>
        </form>
    </body>
</html>